<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/add">Add a New Task</a></li>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>
  </header>

  <section>
    <p>title: <%= taskInfo.title %></p>
    <p>description: <%= taskInfo.description %></p>
    <p>contact<%= taskInfo.contact %></p> 
    <p>status <%=taskInfo.status %></p>
  </section>

  <section>
    <form action="<%= `/update/${taskInfo.id}?_method=PUT` %>" method="post">
   
      <input type="text" name="title" value="<%- taskInfo.title %>" placeholder="Task Name">

      <input type="text" name="description" value="<%- taskInfo.description %>" placeholder="description">

      <input type="text" name="contact" value="<%- taskInfo.contact %>" placeholder="contact">

      <input type="text" name="status" value="<%- taskInfo.status %>" placeholder="status">

      <button>submit</button>
    </form>
  </section>

</body>
</html>